# Fundamental Python Codes


This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data types

### Numbers

In [1]:
2 + 1

3

In [2]:
2 * 3

6

In [3]:
5 / 2

2

In [4]:
3 ** 4

81

In [5]:
4 % 2

0

In [6]:
5 % 3

2

In [7]:
(2 + 5) * (6 + 7)

91

### Variable Assignment

**Can not start with number or special characters**

In [8]:
name_of_var = 2

In [9]:
x = 3
y = 4

In [10]:
z = x + y

In [11]:
z

7

### Strings

In [12]:
'Hi!'

'Hi!'

In [13]:
"Hello!"

'Hello!'

In [14]:
"You're funny"

"You're funny"

### Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
name = 'Alice'
age = 14

In [19]:
print("My name is: {one}, and I'm : {two} years old".format(one=name,two=age))

My name is: Alice, and I'm : 14 years old

In [21]:
print("My name is: {}, and I'm : {} years old".format(name,age))

My name is: Alice, and I'm : 14 years old

### Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
my_list = ['x','y','z']

In [25]:
my_list.append('w')

In [26]:
my_list

['x', 'y', 'z', 'w']

In [27]:
my_list[0]

'x'

In [28]:
my_list[1]

'y'

In [29]:
my_list[1:]

['y', 'z', 'w']

In [30]:
my_list[:1]

['x']

In [31]:
my_list[0] = 'NEW'

In [32]:
my_list

['NEW', 'y', 'z', 'w']

In [33]:
nest = [1,2,3,[4,5,['target']]]

In [34]:
nest[3]

[4, 5, ['target']]

In [35]:
nest[3][2]

['target']

In [36]:
nest[3][2][0]

'target'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

### Sets

In [44]:
{1,2,3}

{1, 2, 3}

In [45]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [46]:
1 > 5

False

In [47]:
1 < 5

True

In [48]:
1 >= 1

True

In [49]:
1 <= 4

True

In [50]:
1 == 1

True

In [51]:
'hi' == 'hello'

False

## Logic Operators

In [52]:
(1 < 2) and (2 > 3)

False

In [53]:
(1 > 2) or (2 < 3)

True

In [54]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [55]:
if 1 < 2:
    print('Perfect!')

Perfect!

In [56]:
if 1 < 2:
    print('Perfect!')

Perfect!

In [59]:
if 1 < 2:
    print('before')
else:
    print('later')

before

In [58]:
if 1 > 2:
    print('before')
else:
    print('later')

later

In [60]:
if 1 == 2:
    print('before')
elif 3 == 3:
    print('now')
else:
    print('later')

now

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item+1)

2
3
4
5
6

In [63]:
for item in seq:
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [64]:
for hi in seq:
    print(hi*hi)

1
4
9
16
25

## while Loops

In [66]:
i = 1
while i < 7:
    print('{} square is: {}'.format(i,i**2))
    i = i+1

1 square is: 1
2 square is: 4
3 square is: 9
4 square is: 16
5 square is: 25
6 square is: 36

## range()

In [67]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [69]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [70]:
my_list = [1,-2,3,-4]

In [71]:
out = []
for item in my_list:
    out.append(item**3)
print(out)

[1, -8, 27, -64]

In [72]:
[item**2 for item in my_list]

[1, 4, 9, 16]

## functions

In [73]:
def sqr(x):
    return x**2

In [74]:
out = sqr(2)

In [75]:
print(out)

4

## lambda expressions

In [76]:
def times2(var):
    return var*2

In [77]:
times2(3)

6

In [78]:
lambda var: var*2

## map and filter

In [79]:
seq = [1,2,3,4,5]

In [80]:
map(times2,seq)

[2, 4, 6, 8, 10]

In [81]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [82]:
list(map(lambda var: var*3,seq))

[3, 6, 9, 12, 15]

In [83]:
filter(lambda item: item%2 == 0,seq)

[2, 4]

In [84]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [85]:
st = 'Hello my name is Alice'

In [86]:
st.lower()

'hello my name is alice'

In [87]:
st.upper()

'HELLO MY NAME IS ALICE'

In [88]:
st.split()

['Hello', 'my', 'name', 'is', 'Alice']

In [89]:
tweet = 'Go Sports! #Sports'

In [90]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [91]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

['key2', 'key1']

In [94]:
d.items()

[('key2', 'item2'), ('key1', 'item1')]

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [97]:
lst

[1, 2]

In [98]:
'x' in [1,2,3]

False

In [99]:
'x' in ['x','y','z']

True